.background {
    --ion-background-color: #F8F2ED;
}

.top {
    --ion-background-color: white;

    padding-right: 16px;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 12px;

    border-radius: 16px;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.date {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    font-family: 'Red Hat Mono';
}

.popover-option {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

ion-row {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

ion-item-divider {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 0px;
    min-height: 1px !important;
}

ion-icon {
    font-size: 24px;
}
