<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="toolbar-content">
      <ion-icon name="arrow-back-outline" style="font-size: 20px;" (click)="goBack()"></ion-icon>
      <ion-title>
        <div class="ion-text-wrap" style="padding-top: 8px; padding-bottom: 8px;">
          Top <span style="color: var(--ion-color-primary); font-weight: bold;">{{top?.top == null ? '...' :
            top?.top}}</span> {{top?.title ==null ? '' : top?.title}}
        </div>
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-slides #slides>
    <ion-slide *ngFor="let item of items">
      <ion-card class="card">
        <img [src]="item.image" class="player-image">
        <ion-card-header>
          <ion-card-title><span class="place">{{item.place}}</span>. {{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{item.description}}</ion-card-content>
        <ion-col></ion-col>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-fab class="fab-left" vertical="bottom" horizontal="start">
    <ion-fab-button color="primary" (click)="previousSlide()">
      <ion-icon name="chevron-down-outline" style="font-size: 20px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="primary" (click)="openPopover()">
      <ion-icon name="search-outline" style="font-size: 20px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="fab-right" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="nextSlide()">
      <ion-icon name="chevron-up-outline" style="font-size: 20px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-popover offset-x="start" [isOpen]="isPopoverOpen" (ionPopoverDidDismiss)="closePopover()">
  <ng-template>
    <ion-content>
      <ion-list *ngFor="let item of items">
        <ion-title (click)="chooseItem(item.place)">
          {{ item.place }}
        </ion-title>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
