<ion-header>
  <ion-toolbar>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="image">
        <ion-icon name="image"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="video">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-tab-button>

      <ion-tab-button tab="music">
        <ion-icon name="musical-notes"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="text">
        <ion-icon name="document-text"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>